
@import "utils/vars";
@import "utils/reset";


html {
  font-size: 62.5%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.4rem;
  color: $white;
  line-height: 1.5;
  &.no-scroll,
  &.show-sidebar{
    overflow: hidden;
  }
}

h1{
  color: #c4603c;
}