html{
    height: 100%;
    width: 100vw;
    font-size: 62.5%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    float: left;
}

.block .spinner {
    width: 10rem;
    height: 10rem;
    display: block;
    border: none;
    background: #e5a138;
}
.spinner {
    animation: 1s linear 0s normal none infinite running spinner;
    -webkit-animation: 1s linear 0s normal none infinite running spinner;

}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.line{
    margin-top: 50rem;

}

.item{
    position: relative;
    height: 6.5rem;
    width: 7.5rem;
    z-index: 10;
    transition: all 0.4s linear;
    padding: 1rem;
    margin: 1rem;
    overflow: hidden;
}

.item:hover{
    transform: scale(1.1);
}
#field{
    position: relative;
    z-index: 10;
    width: 200px;
    height: 200px;
    border: 1px solid red;
}
.square{
    top: 3rem;
    text-align: center;
    position: relative;
    z-index: 10;
    width: 5rem;
    height: 5rem;
    margin: 0.3rem;
    background: #7a5110;
    cursor: move;
}
span{
    font-size: 1rem;
    color: white;
}